 h1{  color:blue; 
      	   background: #ddd; 
      	   text-align : center;
      	   font-size: 50px ;
       }

      
asif{
	color:blue;
	border:2px solid orange;
	outline: 2px solid black;
    width:400px;
  
padding: 5px 20px 5px 30px;
margin: 0px 0px 0px 300px;

}